services:
  db:
    # Update version if needed
    image: pgduckdb/pgduckdb:17-main
    volumes:
      - db-data:${DB_DATA_DIR}
    environment:
      - PGDATA=${DB_DATA_DIR}
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - DB_PORT=${DB_PORT}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    ports:
      - "${DB_PORT}:5432"

  metabase:
    # Update version if needed (or use latest)
    image: metabase/metabase:v0.57.4.x
    environment:
      # Optional for pro-version
      MB_DB_TYPE: "${MB_DB_TYPE}"
      MB_DB_DBNAME: "${DB_NAME}"
      MB_DB_PORT: "5432"
      MB_DB_USER: "${DB_USER}"
      MB_DB_PASS: "${DB_PASSWORD}"
      MB_DB_HOST: "db"
      MB_PASSWORD_COMPLEXITY: strong
      MB_PASSWORD_LENGTH: 10
      JAVA_TIMEZONE: "${MB_JAVA_TIMEZONE}"

      # Required for API-based setup
      MB_SETUP_TOKEN: "${MB_TOKEN}"
    ports:
      - "${MB_PORT}:3000"
    depends_on:
      - db
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/health"]
      interval: 30s
      timeout: 5s
      retries: 20
    env_file:
      - .env

  metabase-setup:
    image: curlimages/curl:8.17.0
    depends_on:
      metabase:
        condition: service_healthy
    environment:
      MB_USER_EMAIL: "${MB_EMAIL}"
      MB_USER_PASSWORD: "${MB_PASSWORD}"
      MB_FIRST_NAME: "${MB_FIRST_NAME}"
      MB_LAST_NAME: "${MB_LAST_NAME}"
      MB_PORT: "${MB_PORT}"
      
      MB_DB_TYPE: "${MB_DB_TYPE}"
      MB_DB_DBNAME: "${MB_DB_DBNAME}"
      MB_DB_PORT: "${DB_PORT}"
      MB_DB_USER: "${DB_USER}"
      MB_DB_PASS: "${DB_PASSWORD}"
      MB_DB_HOST: "${MB_DB_HOST}"
      MB_TOKEN: "${MB_TOKEN}"
    volumes:
      - ./metabase-setup.sh:/setup.sh
    entrypoint: ["/bin/sh", "/setup.sh"]

volumes:
  db-data:
